body{
    background-color: black;
    border:black;    
}

a:link{
    color:red;

}

a:visited{
    color:orange
}

img{
    border-width: 30px;
    border-color: blueviolet;
}

p{
    color:pink;
    padding-left: 30%;
}

.header{
    padding-left: 43%;
    color:white;
}

.Intro{
    background-color:red;
    margin-top: 10px;
    padding-left: 25%;
    opacity:0.33;   
}
.Intro:hover{
    opacity:1;
}

.components{
    background-color:blue;
    margin-top: 10px;
    padding-left: 25%;
   opacity:0.33;
}
.components:hover{
    opacity:1;
}

.project{
    background-color:green;
    margin-top: 10px;
    padding-left: 10%;
    opacity:0.33;
}
.project:hover{
    opacity:1;
}

